<doctype html="">
    <title>New Album - Employee Details Database</title>
    <h2>New Employee Details</h2>
    
    {% from "_formhelpers.html" import render_field %}
    <form method="post">
        <dl>
           
            {{ render_field(form.first_name) }}
            {{ render_field(form.last_name) }}
            {{ render_field(form.age) }}
            {{ render_field(form.company) }}
            {{ render_field(form.country) }}
        </dl>
        <p><input type="submit" value="Submit">
    </p></form>
    </doctype>